@font-face {
	font-family:"DFPHannotateW5-GB";
	src: url("../font/DFPHannotateW5-GB.ttf");
}
body {
	max-width: 750px;
	min-width: 320px;
	margin:0 auto;
	font-family: "DFPHannotateW5-GB";
}
.sign .home {
	width:90%;
	margin:0 auto;
}
.sign header {
	margin-top:1.3rem;
	position:relative;
}
.sign #imagePreview {
	width:100%;
	height:338px;
	background: url(../img/five_pic_header.jpg);
	background-size: 100%;
	-webkit-background-size: 100%;
}
.sign #imageInput {
	width:100%;
	height:338px;
	border:none;
	outline: none;
	box-sizing: border-box;
	opacity: 0;
	position: absolute;
	top:0;
	left:0;
	padding:0;
	margin:0;
}
.sign @media screen and (max-device-width:400px) {
	#imagePreview {
		height:169px;	
	}
	#imageInput {
		height:169px;
	}
	}
.sign @media screen and (min-device-width:400px) and (max-device-width:500px) {
	#imagePreview {
		height:188px;	
	}
	#imageInput {
		height:188px;
	}
	}
.sign @media screen and (min-device-width:500px) and (max-device-width:600px) {
	#imagePreview {
		height:235px;	
	}
	#imageInput {
		height:235px;
	}
	}
.sign @media screen and (min-device-width:600px) and (max-device-width:700px) {
	#imagePreview {
		height:282px;	
	}
	#imageInput {
		height:282px;
	}
	}
.sign @media screen and (min-device-width:700px) {
	#imagePreview {
		height:338px;	
	}
	#imageInput {
		height:338px;
	}
}
.sign .main h2 {
	font-size:0.8rem;
	line-height:2.7rem;
	height:2.6rem;
	color:#333333;
}

.sign .main h3 textarea {
	height:5.25rem;
	width:90%;
	display:block;
	resize: none;
	box-sizing: border-box;
	outline: none;
	border:1px solid #d7d7d7;
	font-size:0.7rem;
	font-family: "DFPHannotateW5-GB";
	padding:3%;
}
.sign .main h4 {
	padding-top: 0.7rem;
	padding-bottom: 0.7rem;
	font-size:0.7rem;
	line-height:2rem;
	color:#676767;
}
.sign .main h4 span {
	display:block;
	width:30%;
	float: left;
}
.sign .main h4 select {
	display:block;
	height:1.75rem;
	width:68%;
	background-color:#f2f2f2;
	border-radius: 0.5rem;
	border:none;
	outline: none;
	box-sizing: border-box;
	margin:0;
	padding:0;
	text-indent: 0.5rem;
	font-size:0.7rem;
	color:#333333;
}
.sign .main h4 select option {
	border:none;
	outline: none;
	box-sizing: border-box;
	margin:0;
	padding:0;
	font-size:0.7rem;
}
.sign .main h5 {
	margin-top:2.85rem;
}
.sign .main h5 button {
	background-color: #ff9601;
	display: block;
	margin:0 auto;
	width:64%;
	height:1.55rem;
	border:none;
	box-sizing: border-box;
	outline: none;
	border-radius: 0.775rem;
	color:#FFFFFF;
	font-size: 0.85rem;
	font-family:"DFPHannotateW5-GB";
}
